*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    height: 100%;
}


#profile-main-img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
}



.icon{
    height: 25px;
    justify-self: center;

}

#container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    height: 100%;

}

/**************************   SIDEBAR STYLES   ******************************/

#sidebar{
    grid-row: 1/3;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 100px repeat(5, 50px) 100px repeat(3, 50px);
    min-width: 250px;
    background-color: #1992d4;
    color: #FFF;
}

.sidebar-item{
    display: grid;
    grid-template-columns: 1fr 6fr;
    padding-left: 30px;
    padding-top: 30px;
    
}

#dashboard-icon{
    width: 50px;
    height: 50px;

}

#dashboard-icon+h1{
padding-left: 20px;
padding-top: 6px;
font-weight: 600;


}

.sidebar-item > h2{
    font-weight: 600;
    padding-left: 20px;
}


/*******************************   HEADER STYLES   */
#header{
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding-left: 50px;

}

#search-bar{
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 40px 3fr 60px 60px 220px;
    padding-top: 0.35rem;
}

#search-bar > img{
    justify-self: start;
    align-self: center;

}

#search-bar > input {

    max-width: 700px;
    height: 30px; 
    align-self: center;
    border-radius: 20px;
    background-color: #e2e8f0;
    outline: none;
    border: 2px solid white;

    
}

#bell{
    padding-right: px;
    width: 60px;
    height: 30px;

}

#profile-img {
    width: 50px;
    height: 50px;
    margin: 8px;
    border-radius: 30px;
    align-self: center;
    justify-self: end;
}

#search-bar > h4{
    align-self: center;
    justify-self: center;
    font-size: 1.4rem;
    margin-right: 2em;
}

#main-header{
    display: grid;
    grid-template-columns: 75px 3fr 150px 150px 150px;
    margin-top: 1.1rem;
    padding-bottom: 1.3rem;
    grid-column: span 2;
}

#greeting{
    align-self: center;
    padding-left: 12px;
}

#greeting>p, #greeting>h2 {
    font-weight: 700;
}

#profile-img + h4{
    font-weight: 700;
}

.header-btn{
    border-radius: 20px;
    width: 7.8rem;
    height: 2.7rem;
    align-self: center;
    background-color: #1992d4;
    color: #FFF;
    border: 2px solid #FFF;
    font-size: 1.05rem;
    font-weight: 700;
} 




/* ***********************   BODY STYLES  ************************** */

#body-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr) 300px;
    grid-template-rows: 40px 155px 165px 60px 155px 155px;
    padding-top: 2.5rem;
    background-color: #e2e8f0;
    box-shadow: inset 0px 8px 6px -3px #7f7f7f51;

}

#projects-title{
    grid-row: 1/2;
    grid-column: 1/2;
    padding-left: 30px;
    min-width: 40px;

}

#announc-title{
    grid-row: 1/2;
    grid-column: 4/5;
}

#trending-title{
    grid-row: 4/5;
    grid-column: 4/5;
    align-self: end;
}

#projects-title, #announc-title, #trending-title{
    font-weight: 700;
    font-size: 1.4rem;
} 

#trending-title{
    padding-bottom: 8px;
}


#projects{
    grid-column: 1/4;
    grid-row: 2/7;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
    grid-template-rows: 210px 210px 210px;
    justify-items: start;
    grid-gap: 24px;
    padding: 0 1.5rem;
    max-width: 1200px;
}



.projects-item {
    border-radius: 8px;
    padding: 28px 20px;
    background-color: #FFF;
    border-left: 8px solid #f0b429;
    font-weight: 700;
    box-shadow: 2px 2px 6px 1px #67676751;
    max-width: 500px;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
}

.projects-item img:nth-of-type(1){
    grid-row: 3/4;
    grid-column: 2/3;
}
.projects-item img:nth-of-type(2){
    grid-row: 3/4;
    grid-column: 3/4;
}
.projects-item img:nth-of-type(3){
    grid-row: 3/4;
    grid-column: 4/5;
}

.projects-item > h4{
    font-weight: 700;
    font-size: 1.1rem;
    align-self: end;
}

.projects-item > p{
    color: #636363;
    font-size: .9rem;
    max-width: 280px;
    grid-column: 1/4;
    grid-row: 2/3;
}


/*************************   ANNOUNCEMENTS/TRENDING STYLES   ************************/

#announcements{
    grid-column: 4/5;
    grid-row: 2/4;
    background-color: #FFF;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 2px 2px 6px 1px #67676751;
    margin-right: 30px;
    max-width: 300px;

}

#announcement-item{
    padding: 12px 0; 
    border-bottom: 2px solid #7f7f7f51;
}

#announcement-item:last-of-type{
    border-bottom: hidden;
    padding-bottom: 30px;
}

#announcement-item > h4{
    font-weight: 700;
    font-size: .9rem;

}
#announcement-item > p{
    font-size: .75rem;

}

#trending{
    grid-column: 4/5;
    grid-row: 5/7;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: #FFF;
    padding: 18px;
    border-radius: 12px;
    box-shadow: 2px 2px 6px 1px #67676751;
    margin-right: 30px;
    max-width: 300px;
}

#trending-title{
}

#trending-profile{
    padding-top: 16px;
    padding-left: 8px;
}

#trending-profile > h4{
    font-weight: 500;
}